OOPS

In [6]:
class Myclass:
    y=5
    x=10

In [9]:
# create object
p1= Myclass() # p1 is object and my class is class

In [10]:
print(p1.x)
print(p1.y)

10
5

In [ ]:
# inheritence
# polymorphism
# abstraction
# encapsulation

# inheritence
single inheritence
multiple inheritence
multilevel inheritence
hybrid inheritence

In [14]:
# Single inheritence

class Parent:
    father_name ="hemant"
    mother_name="sunita"

class Child(Parent):
    child_name= ("rahul")
child_obj = Child()
print (child_obj.father_name)
print(child_obj.mother_name)
print(child_obj.child_name)

hemant
sunita
rahul

In [15]:
# Multilevel inheritence

class Grandparent:
    grand_father_name="hemant"
    grand_mother_name="sunita"
class Parent(Grandparent):
    father_name="ramlal"
    mother_name="rani"    
class Child(Parent):
    Child_name="rahul"
class_obj= Child()

In [20]:
print(f"grand father name",Child_obj.grand_father_name)
print(f"grand mother name",Child_obj.grand_mother_name)
print(child_obj.father_name)
print(child_obj.mother_name)
print(child_obj.child_name)

NameError: name 'Child_obj' is not defined

In [ ]:
class Parent:
    father_name ="hemant"
    mother_name ="sunita"
class Uncle

In [24]:
class Calculator:
    def add(self,a,b):
        return a+b
    def multiply(self,a,b):
        return a*b
    
obj=Calculator()
print("addition",obj.add(10,20))
print("multiply",obj.multiply(10.5,23.2))

addition 30
multiply 243.6

In [28]:
class Student:
    def set_data(self,name,age):
        self.name=name ## instance variable
        self.age=age ## instance variable

    def display(self):
        print(f"student name:{self.name},and studemt age: {self.age}")

obj = Student()

obj.set_data("ritik",22)

obj.display()

student name:ritik,and studemt age: 22

In [ ]:
# area of circle

class Circle:
    def get_radius(self,radius):
        self.radius =radius
        
    def set_area(self,area):
        self.area

def display(self):
    print(f"area of cirlce"{self.radius},{self.area})

In [31]:
# Constructor

class Classname:
    def __init__(self,parameter1,parameter2):
        pass

In [33]:
class Student:
    def __init__(self,name,roll):
        self.name = name
        self.roll =roll
    def display(self):
        print(f"Student name:{self.name},and roll:{self.roll}")

s1=Student(name = "Ritik", roll=22)
s1.display()

Student name:Ritik,and roll:22

In [34]:
class Demo:
    def __init__(self):
        print("Nameste")

obj =Demo()

Nameste

In [40]:
class Car:
    def __init__(self,brand,model,engine):
        self.brand =brand
        self.model = model
        self.engine = engine
    def display(self):
        print(f"brand name:{self.brand},model:{self.model}, and engine:{self.engine}")

s1=Car(brand= "maruti", model="2023", engine ="25CC") 
s1.display()

brand name:maruti,model:2023, and engine:25CC

Encapsulation in python

In [9]:
class Employee:
    def __init__(self,name,salary):
        self.name=name    ## public variable
        self.__salary= salary ## private variable
    def show_info(self):
        print(f"name {self.name} and salary{self.salary}")


        ##getter method    

    def get_salary(self):
        return self.__salary

      ## setter method
    def set_salary(self,amount):
        if amount>0:

            self.__salary=amount
        else:  
            print("invalid salary")
obj= Employee(name="ritik", salary=50000)

In [10]:
obj.show_info()

AttributeError: 'Employee' object has no attribute 'salary'

In [17]:
class A:
    def display(self, x=None):
        if x:
            print("Value:", x)
        else:
            print("No value")

obj = A()
obj.display()
obj.display(10)

No value
Value: 10